{% extends "jobs/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container p-5 mb-3">
  <h2>Resume Upload</h2>
  <h3 class="mb-5">Please Upload Your Resume</h3>
<div>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit">Submit</button>
  </form>

  <table class="mt-5">
    <thead>
      <tr>
        <th>Name</th>
        <th>Uploaded at</th>
      </tr>
    </thead>
    <tbody>
      {% for document in documents %}
        <tr>
          <td><a href="{{ document.upload.url }}" target="_blank">{{ document.upload.name }}</a></td>
          <td>{{ document.uploaded_at }}</td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="3">No data.</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock content %}