{% extends "jobs/base.html" %}

{% block content %}

<div class="container h-100 mt-5">
	<div class="row justify-content-md-center mt-3">
		<div class="col-md-auto">
			<h2>Password reset successful!</h2>
		</div>
	</div>
	<div class="row justify-content-md-center mt-3">
		<div class="col-md-6 mt-3 mb-3 border-top pt-3 text-center">
			<p>Your new password has been successfully set.</p>
		</div>
	</div>
	<div class="row justify-content-md-center">
		<div class="col-sm-6 mt-3 mb-3 text-center">
			<a class="btn btn-primary" href="{% url 'login' %}">Login</a>
		</div>
	</div>
</div>

{% endblock %}
