{% extends "jobs/base.html" %}

{% block content %}

<div class="container h-100 mt-5">
	<div class="row justify-content-md-center mt-3">
		<div class="col-md-auto">
			<h2>Password reset sent!</h2>
		</div>
	</div>
	<div class="row justify-content-md-center mt-3">
		<div class="col-md-6 mt-3 mb-3 border-top pt-3">
			<p>We have emailed you instructions to reset your password, if a Job Tracker account exists with the email address you have entered.</p>
		</div>
	</div>
</div>

{% endblock content %}