{% extends "jobs/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
 
<div class="container h-100 mt-5">
    <div class="row justify-content-md-center mt-3">
        <div class="col-md-auto">
            <h2>Register for JobTracker</h2>
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-sm-6 mt-3 mb-3 border-top pt-3">
            <form method="POST">
            {% csrf_token %}
            {{ form|crispy }}
                <div class="row mb-3">
                    <div class="col">
                        <button class="btn btn-primary" type="submit">Sign Up</button>
                    </div>
                    <div class="mr-3">
                        <a class="" href="{% url 'login' %}">Already have an account?</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock content %}