{% extends "jobs/base.html" %}

{% block content %}

<div class="container h-100 mt-5">
    <div class="container ml-3">
        <div class="row mt-3">
            <div class="col-md-auto">
                <h2>Your Applications</h2>
                <h4>Offer Count: {{ offer_count }}</h4>
                <h4>Accepted Count: {{ accepted_count }}</h4>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-auto">
                <button type="button" class="btn btn-primary btn" onclick="location.href='/applications/new'">Add Application</button>
            </div>
        </div>
    </div>
    <div class="container positions mt-3 ml-3 mb-5">
        {% for application in applications %}
        <div class="card mb-3 border-dark">
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <h4 class="card-title mb-2">{{ application.position.company.name }} - {{ application.position.position_title }}</h4>
                    </div>
                    <div class="col text-right">
                        <a class="btn btn-sm btn-primary" href="{% url 'jobs-detail-application' application.id %}"> Details</a>
                        <a class="btn btn-sm btn-primary" href="{% url 'jobs-update-application' application.id %}" role="button">Edit Application</a>
                        <a class="btn btn-sm btn-primary" href="{% url 'jobs-delete-application' application.id %}" role="button">Delete Application</a>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col">
                    {% if application.date_started %}
                        <p><strong>Application started on:</strong> {{ application.date_started }}</p>
                    {% endif %}

                    {% if application.date_submitted %}
                        <p><strong>Application submitted on:</strong> {{ application.date_submitted }}</p>
                    {% endif %}

                    {% if application.offer %}
                        <p><span class="badge rounded-pill bg-success text-white">Offer received</span></p>
                    {% endif %}
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <span class="card-text"><small class="text-muted"><a href="{{ application.position.position_url }}" class="mr-5">Link to external job posting url</a>Job position opened on {{ application.position.date_opened }}</small></span>
            </div>
        </div>           
        {% endfor %}
    </div>
</div>


{% endblock content %}
