{% extends "jobs/base.html" %}

{% block content %}

<div class="container h-100 mt-5 mb-5">
	<div class="row mt-3">
		<div class="col-md-auto">
			<h2>Application: {{ app.position }}</h2>
		</div>
	</div>
   	<div class="card border-primary mb-3">
   		<div class="card-header">
   			<div class=row>
   				<div class="col-md-6">
   					<span>Application Details</span>
   				</div>
   				<div class="col-md-6 text-right">
                	<a class="btn btn-sm btn-primary border-primary" href="{% url 'jobs-update-application' app.id %}">Edit this Application</a>	       					
   				</div>
   			</div>
   		</div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-10">
                	{% if not app.date_started and not app.date_submitted and not app.offer and not app.accepted and not app.email_used and not app.notes %}
                		<p>Edit this application to add more details
                	{% endif %}

                	{% if app.date_started %}
                		<p><strong>Application started on:</strong> {{ app.date_started }}</p>
                	{% endif %}

                	{% if app.date_submitted %}
                		<p><strong>Application submitted on:</strong> {{ app.date_submitted }}</p>
                	{% endif %}

					{% if app.offer %}
						<p><span class="badge-pill bg-success text-white">Offer received</span></p>
					{% endif %}
					
					{% if app.accepted %}
						<p><span class="badge-pill bg-success text-white">You have accepted this job offer!</span></p>
					{% endif %}

					{% if app.email_used %}
						<p><strong>Email used for this application:</strong> {{ app.email_used }}</p>
					{% endif %}

					{% if app.notes %}
						<p><strong>Notes:</strong> {{ app.notes }}</p> 
					{% endif %}
                </div>
            </div>
        </div>
    </div>
  	<div class="card border-primary mb-5">
   		<div class="card-header">
   			<div class=row>
   				<div class="col-md-6">
   					<span>Position Details</span>
   				</div>
   				<div class="col-md-6 text-right">
                	<a class="btn btn-sm btn-primary border-primary" href="{% url 'jobs-update-position' app.position.id %}">Edit this Position</a>	       					
   				</div>
   			</div>
   		</div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-10">
                	<p><strong>Skills Required: </strong>
                	{% if app.position.skills.all %}
                		{% for skill in app.position.skills.all %}
                		<span class="badge-pill bg-success text-white mr-2">{{ skill }}</span>
                		{% endfor %}
                	{% else %}
                		<span>Add Skills from this job description to your skills page!</span>
                	{% endif %}
                	</p>

                	{% if app.position.job_description %}
                		<p><strong>Job Description:</strong> {{ app.position.job_description }}</p>
                	{% endif %}
                </div>
            </div>
        </div>
        <div class="card-footer">
            <span class="card-text"><small class="text-muted"><a href="{{ app.position.position_url }}" class="mr-5">Link to external job posting url</a>Job position opened on {{ app.position.date_opened }}</small></span>
        </div>
    </div>			
 	<hr>
	<div class="row mt-5">
		<div class="col-md-10">
			<h3>Interviews for this Application:</h3>
		</div>
		<div class="col-md-2 text-right">
			<a class="btn btn-primary border-primary mb-3" href="{% url 'jobs-new-interview' app.id %}">Add Interview</a>
		</div>
	</div>
	{% if interviews %}
	<div class="row mt-2">
		<div class="col">
			<table class="table mb-5">
				<thead class="thead-dark">
					<tr>
						<th scope="col" style="width: 10%">Date</th>
						<th scope="col" style="width: 10%">Time</th>
						<th scope="col" style="width: 15%">Location</th>
						<th scope="col" style="width: 8%">URL</th>
						<th scope="col" style="width: 15%">Status</th>
						<th scope="col">Notes</th>
						<th scope="col" class="text-center" style="width: 10%">Update/Delete</th>
					</tr>
				</thead>
				<tbody>
				{% for interview in interviews %}
					<tr>
						<td>{{ interview.date }}</td>
						<td>{{ interview.time }}</td>
						<td>{{ interview.location }}</td>
						{% if interview.virtual_url %}
							<td><a href="{{ interview.virtual_url }}">Link</a></td>
						{% else %}
							<td>N/A</td>
						{% endif %}
						{% if interview.complete %}
							<td>Completed</td>
						{% else %}
							<td>Not Complete</td>
						{% endif %}
						<td>{{ interview.notes }}</td>
						<td class="text-right">
							<a class="btn btn-primary border-primary" href="{% url 'jobs-update-interview' app.id interview.id %}" role="button">Edit</a>
							<a class="btn btn-danger border-danger" href="{% url 'jobs-delete-interview' app.id interview.id %}" role="button">  X  </a>
						</td>
					</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
	{% endif %}
	<hr>
	<div class="row mt-5">
		<div class="col-md-10">
			<h3>Assessments for this Application:</h3>
		</div>
		<div class="col-md-2 text-right">
			<a class="btn btn-primary border-primary mb-3" href="{% url 'jobs-new-assessment' app.id %}">Add Assessment</a>
		</div>
	</div>
	{% if assessments %}
	<div class="row mt-2">
		<div class="col">
			<table class="table mb-5">
				<thead class="thead-dark">
					<tr>
						<th scope="col" style="width: 10%">Date</th>
						<th scope="col" style="width: 10%">Time</th>
						<th scope="col" style="width: 10%">URL</th>
						<th scope="col" style="width: 15%">Status</th>
						<th scope="col">Notes</th>
						<th scope="col" class="text-center" style="width: 10%">Update/Delete</th>
					</tr>
				</thead>
				<tbody>
				{% for assessment in assessments %}
					<tr>
						<td>{{ assessment.date }}</td>
						<td>{{ assessment.time }}</td>
						{% if assessment.virtual_url %}
							<td><a href="{{ assessment.virtual_url }}">Link</a></td>
						{% else %}
							<td>N/A</td>
						{% endif %}
						{% if assessment.complete %}
							<td>Completed</td>
						{% else %}
							<td>Not Complete</td>
						{% endif %}
						<td>{{ assessment.notes }}</td>
						<td class="text-right">
							<a class="btn btn-primary border-primary" href="{% url 'jobs-update-assessment' app.id assessment.id %}" role="button">Edit</a>
							<a class="btn btn-danger border-danger" href="{% url 'jobs-delete-assessment' app.id assessment.id %}" role="button">  X  </a>
						</td>
					</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
	{% endif %}
	<hr>
	<div class="row mt-5">
		<div class="col-md-8">
			<h3>Communication related to this Application:</h3>
		</div>
		<div class="col-md-4 text-right">
			<a class="btn btn-primary mb-3 border-primary" href="{% url 'jobs-new-communication' %}?application={{ app.id }}">Add Communication</a>
		</div>
	</div>
	{% if communications %}
	<div class="row mt-2">
		<div class="col">
			<table class="table mb-5">
				<thead class="thead-dark">
					<tr>
						<th scope="col" style="width: 15%">Contact</th>
						<th scope="col" style="width: 15%">Date</th>
						<th scope="col" style="width: 12%">Method</th>
						<th scope="col">Notes</th>
						<th scope="col" class="text-center" style="width: 10%">Update/Delete</th>
					</tr>
				</thead>
				<tbody>
				{% for comm in communications %}
					<tr>
						<tr>
							<td>{{ comm.contact }}</td>
							<td>{{ comm.date }}</td>
							<td>{{ comm.method }}</td>
							<td>{{ comm.notes }}</td>
							<td class="text-right">
								<a class="btn btn-primary border-primary" href="{% url 'jobs-update-communication' comm.id %}" role="button">Edit</a>
								<a class="btn btn-danger border-danger" href="{% url 'jobs-delete-communication' comm.id %}" role="button">  X  </a>
							</td>
						</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
	{% endif %}
	<hr>
</div>

{% endblock content %}
