{% extends "jobs/base.html" %}

{% block content %}
<div class="container p-5">
	<h1 class="text-center">Companies</h1>
</div>
<div class="row">
	<div class="col-4">
		<a class="btn btn-primary mb-3 btn-block" href="{% url 'jobs-new-company' %}">Add New Company</a>
		<input class="form-control mb-2" id="listSearch" type="text" placeholder="Search for Company">
		<table class="table table-hover">
			<thead>
				<tr>
					<th scope="col">Company</th>
					<th scope="col" class="text-center">Positions</th>
					<th scope="col">Industry</th>
				</tr>
			</thead>
			<tbody id="itemTable">
				{% for company in companies %}
				<tr class="make-row-clickable" data-link="{% url 'jobs-companies' %}?company={{ company.id }}">
					<th scope="row">{{ company.name }}</th>
					<td class="text-center">{{ company.position_set.count }}</td>
					<td>{{ company.industry }}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	<div class="col-8">
		<div class="container ml-3 show-company">
			<div class="row mt-3">
				<div class="col-md-auto">
					{% if show_co %}
					<h2 class="company-name">{{ show_co.name }}</h2>
					{% else %}
					<h2 class="company-name"></h2>
					{% endif %}
				</div>
			</div>
			<div class="row">
				<div class="col mb-3">
					{% if show_co %}
					<p class="company-url">Careers Link: {{ show_co.careers_url }}</p>
					<p class="company-industry">Industry: {{ show_co.industry }}</p>
					{% else %}
					<p class="company-url"></p>
					<p class="company-industry"></p>
					{% endif %}
					<div class="row mb-3">
						<div class="col">
							{% if show_co %}
								<a class="btn btn-primary edit-company" href="{% url 'jobs-company-update' show_co.id %}" role="button">Edit Details</a>
								<a class="btn btn-primary delete-company" href="{% url 'jobs-company-delete' show_co.id %}" role="button">Delete</a>
								<a class="btn btn-primary positions-company" href="{% url 'jobs-company-details' show_co.id %}" role="button">Positions</a>
								<a class="btn btn-primary add-position" href="{% url 'jobs-new-position' %}?company={{ company.id }}" role="button">Add Position</a>
							{% else %}
								<a class="btn btn-primary invisible edit-company" href="#" role="button">Edit Details</a>
								<a class="btn btn-primary invisible delete-company" href="#" role="button">Delete</a>
								<a class="btn btn-primary invisible positions-company" href="#" role="button">Positions</a>
								<a class="btn btn-primary invisible add-position" href="#" role="button">Add Position</a>
							{% endif %}
						</div>
				    </div>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock content %}
