{% extends "jobs/base.html" %}

{% block content %}
    <h1>Contacts</h1>

    <button type="button" class="btn btn-primary btn-lg" onclick="location.href='/contacts/new'">Add Contact</button></br></br>

	{% for contact in contacts %}
		<h3>{{ contact.contact_title }}
            <a class="btn btn-sm btn-info" href="{% url 'jobs-update-contact' contact.id %}"> Update</a>
            <a class="btn btn-sm btn-danger" href="{% url 'jobs-delete-contact' contact.id %}"> Delete</a>
            <a class="btn btn-sm btn-primary" href="{% url 'jobs-new-communication' %}">Add Communication</a>
        </h3>
        <p>ID: {{ contact.id }}</p>
        <p>First Name: {{ contact.first_name }}</p>
        <p>Last Name: {{ contact.last_name }}</p>
        <p>Email: {{ contact.email }}</p>
        <p>Phone Number: {{ contact.phone_number }}</p>
        <p>Notes: {{ contact.notes }}</p></br>
	{% endfor %}

{% endblock content %}
