{% extends "jobs/base.html" %}

{% block content %}
<div class="container p-3 mb-3">
    <h1 class="text-center">Contacts</h1>
</div>
<div class="row">
    <div class="col-4" id="companieList">
        <a class="btn btn-primary mb-3 btn-block" href="{% url 'jobs-new-contact' %}">Add New Contact</a>
        <input class="form-control mb-2" id="listSearch" type="text" placeholder="Search for Contact">
        <div class="list-group" id="list-tab" role="tablist">
            {% for contact in contacts %}
            <a class="list-group-item list-group-item-action searchable" id="list-{{ contact.id }}-list" data-bs-toggle="list" href="#list-{{ contact.id }}" role="tab" aria-controls="list-{{ contact.id }}">
                <div class="row">
                    <div class="col-6">
                        {{ contact }}
                    </div>
                </div>
            </a>
            {% endfor %}    
        </div>
    </div>
    <div class="col-8">
        <div class="tab-content ml-3" id="nav-tabContent">
            {% for contact in contacts %}
            <div class="tab-pane fade show" id="list-{{ contact.id }}" role="tabpanel" aria-labelledby="list-{{ contact.id }}-list">
                <div class="row">
                    <div class="col mb-3">
                        <h3>{{ contact }}</h3>
                        {% if contact.email %}
                            <p class="contact-email"><strong>Email:</strong> {{ contact.email }}</p>
                        {% else %}
                            <p class="contact-email">Update this Contact to add an email address</p>
                        {% endif %}
                        {% if contact.phone_number %}
                            <p class="contact-phone"><strong>Phone:</strong> {{ contact.phone_number }}</p>
                        {% else %}
                            <p class="contact-phone">Update this Contact to add phone number</p>
                        {% endif %}
                        <div class="row mb-3">
                            <div class="col">
                                <a class="btn btn-primary edit-contact" href="{% url 'jobs-update-contact' contact.id %}" role="button"><i class="bi bi-pencil-square"></i></a>
                                <a class="btn btn-primary delete-contact" href="{% url 'jobs-delete-contact' contact.id %}" role="button"><i class="bi bi-trash"></i></a>
                                <a class="btn btn-primary add-communication" href="{% url 'jobs-new-communication' %}?contact={{ contact.id }}&next={{ request.path }}" role="button">Add Communication</a>
                            </div>
                        </div>
                    </div>
                </div>
                <h3 class="mt-5 mb-3">Communication history with {{ contact }}:</h3>
                {% for comm in contact.communication_set.all %}
                <div class="card mb-5 border-dark">
                    <div class="card-header comm-card">
                        <div class="row">
                            <div class="col-md-8">
                                <h4>Re: {{ comm.application }}</h4>
                            </div>
                            <div class="col-md-4 text-right">
                                <a class="btn btn-sm btn-primary" href="{% url 'jobs-detail-application' comm.application.id %}" role="button">View Application</a>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <p><strong>Notes: </strong>{{ comm.notes }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="row">
                            <div class="col">
                                <span class="card-text"><small class="text-muted">{{ comm.date }} -- {{ comm.method }}</small></span>
                            </div>
                            <div class="col text-right">
                                <a class="btn btn-sm btn-primary" href="{% url 'jobs-update-communication' comm.id %}?next={{ request.path }}" role="button"><i class="bi bi-pencil-square"></i> Communication</a>
                                <a class="btn btn-sm btn-primary" href="{% url 'jobs-delete-communication' comm.id %}?next={{ request.path }}" role="button"><i class="bi bi-trash"></i> Communication</a>
                            </div>
                        </div>
                    </div>
                </div>      
                {% endfor %}

             </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock content %}
