{% extends "jobs/base.html" %}

{% load crispy_forms_tags %}

{% block content %}

<div class="container">
	<h1>Dashboard</h1>
</div>

<div class="container">
	<div class="row mt-3">
		<div class="col">
			<button class="btn btn-primary mb-2 form-control" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">Track a new Application</button>
		</div>
	</div>
	<div class="collapse" id="collapseExample">
		<div class="card card-body">
			<form id="new-app-url" action="{% url 'parse-job-url' %}">
				<label for="app-url">Enter the job posting URL below and JobTracker will attempt to autofill the form</label>
				<div class="input-group mb-3">
					<div class="input-group-prepend">
						<input type="submit" value="Fill" id="submit-new-app-url" class="btn btn-outline-primary">
					</div>
					<input type="url" id="app-url" name="app-url" placeholder="Enter the url of the job posting here" required class="form-control">
				</div>
			</form>
			<div class="row">
				<div class="col-sm-6 mb-3">
					<form method="POST" id="full-app-form">
						{% csrf_token %}
						{{ company_form|crispy }}
						{{ position_form|crispy }}
						{{ application_form|crispy }}
						<div class="row mb-3">
							<div class="col">
								<input class="btn btn-outline-primary mt-3" type="submit" id="submit-new-app">
							</div>
					    </div>
					</form>
				</div>
			</div>
		</div>
	</div>


	<div class="row" id="new-app-form-row"></div>
</div>

<div class="container-fluid">

    <div class="container-fluid">
		</br><h1>Reddit Feed</h1>

		<div class="form-check form-check-inline">
			Search:&nbsp 	
			<input class="form-control" type="text" value="Software Engineer" id=input_query>
		</div>

		<div class="form-check form-check-inline">
			Subreddit:&nbsp 	
			<input class="form-control" type="text" value="cscareerquestions" id=input_subreddit>
		</div>

		<div class="form-check form-check-inline">
			Sort:&nbsp 	
			<select class="custom-select mr-sm-2" id="select_sort">
				<option selected value="Hot">Hot</option>
				<option value="Top">Top</option>
				<option value="New">New</option>
			</select>
		</div>

		<div class="form-check form-check-inline">
			Result:&nbsp 			
			<select class="custom-select mr-sm-2" id="select_result">
				<option selected value="5">5</option>
				<option value="10">10</option>
				<option value="25">25</option>
				<option value="50">50</option>
			</select>
		</div>
		
		<div class="form-check form-check-inline">
			<input class="btn btn-primary" type="submit" value="Search" id="submit_search">
		</div>
	</div>
	
	</br>
	<div class="accordion" id="accordionReddit">

		{% for item in reddit_data %}

			<div class="accordion-item">
				<h2 class="accordion-header" id= {{ item.url }}>
					<button class="btn btn-secondary btn-lg btn-block" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ forloop.counter }}" aria-expanded="true" aria-controls="collapseOne">
						{{ item.title }}
					</button>
				</h2>
				<div id="collapse{{ forloop.counter }}" class="accordion-collapse collapse" aria-labelledby="heading{{ forloop.counter }}" data-bs-parent="#accordionReddit">
					<div class="accordion-body">
							{{ item.body|safe }}
					</div>
				</div>
			</div>

		{% endfor %}

	</div>
</div>

{% endblock content %}
