{% extends "jobs/base.html" %}

{% load crispy_forms_tags %}

{% block content %}

<div class="container">
	<h1>Dashboard</h1>
</div>
<div class="container">
	<div class="row mt-3">
		<div class="col">
			<button class="btn btn-primary mb-2 form-control" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">Track a new Application</button>
		</div>
	</div>
	<div class="collapse" id="collapseExample">
		<div class="card card-body">
			<form id="new-app-url" action="{% url 'parse-job-url' %}">
				<label for="app-url">Enter the job posting URL below and JobTracker will attempt to autofill the form</label>
				<div class="input-group mb-3">
					<div class="input-group-prepend">
						<input type="submit" value="Fill" id="submit-new-app-url" class="btn btn-outline-primary">
					</div>
					<input type="url" id="app-url" name="app-url" placeholder="Enter the url of the job posting here" required class="form-control">
				</div>
			</form>
			<div class="row">
				<div class="col-sm-6 mb-3">
					<form method="POST" id="full-app-form">
						{% csrf_token %}
						{{ company_form|crispy }}
						{{ position_form|crispy }}
						{{ application_form|crispy }}
						<div class="row mb-3">
							<div class="col">
								<input class="btn btn-outline-primary mt-3" type="submit" id="submit-new-app">
							</div>
					    </div>
					</form>
				</div>
			</div>
		</div>
	</div>


	<div class="row" id="new-app-form-row"></div>
</div>
<div class="container">
	</br>
	<h1>Reddit Feed</h1>
	</br>
	{% for item in reddit_data %}
    <tr> 
        <td>{{ item.title }}</td>
        <td>{{ item.url }} </td>
    	</br></br>
    </tr>
    {% endfor %}
</div> 
	
{% endblock content %}
