{% extends "jobs/base.html" %}

{% load crispy_forms_tags %}

{% block content %}

<div class="container">
	<h1 class="mt-3">Dashboard</h1>
</div>

<div class="container">
	<div class="row mt-3">
		<div class="col">
			<button class="btn btn-primary mb-2 form-control" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">Track a new Application</button>
		</div>
	</div>
	<div class="collapse" id="collapseExample">
		<div class="card card-body">
			<div class="row">
				<div class="col-4">
					<div class="list-group" id="list-tab" role="tablist">
						<a class="list-group-item list-group-item-action active" id="list-existing-company-list" data-bs-toggle="list" href="#existing-company" role="tab" aria-controls="existing-company">For an existing Company</a>
						<a class="list-group-item list-group-item-action" id="list-existing-position-list" data-bs-toggle="list" href="#existing-position" role="tab" aria-controls="existing-position">For an existing Position</a>
						<a class="list-group-item list-group-item-action" id="list-new-everything-list" data-bs-toggle="list" href="#new-everything" role="tab" aria-controls="new-everything">New Company & Position</a>
					</div>
				</div>
				<div class="col-8">
					<div class="tab-content" id="nav-tabContent">
						<div class="tab-pane fade show active" id="existing-company" role="tabpanel" aria-labelledby="list-home-list">
							<div class="row">
								<div class="col-sm-12 mb-3">
									<form method="POST" id="existing-company-form">
										{% csrf_token %}
										<label for="id_company">First select the company:</label>
										{{ full_position_form.company|as_crispy_field }}
										<label for="existing-company-app-url">After selecting the company above, enter the job posting URL here and JobTracker will attempt to autofill the form</label>
										<div class="input-group mb-3">
											<div class="input-group-prepend">
												<div id="existing-company-fill" class="btn btn-outline-primary" name="{% url 'parse-job-url' %}">Fill</div>
											</div>
											<input type="url" id="existing-company-app-url" name="existing-company-app-url" placeholder="Enter the url of the job posting here" required class="form-control">
										</div>
										{{ full_position_form.position_title|as_crispy_field }}
										{{ full_position_form.date_opened|as_crispy_field }}
										{{ full_position_form.date_closed|as_crispy_field }}
										{{ full_position_form.skills|as_crispy_field }}
										{{ full_position_form.position_url|as_crispy_field }}
										{{ full_position_form.job_description|as_crispy_field }}
										{{ combined_application_form|crispy }}
										<div class="row mb-3">
											<div class="col">
												<input class="btn btn-outline-primary mt-3" type="submit" id="submit-new-app">
											</div>
									    </div>
									</form>
								</div>
							</div>
						</div>
						<div class="tab-pane fade" id="existing-position" role="tabpanel" aria-labelledby="list-profile-list">
							<div class="row">
								<div class="col-sm-10 mb-3">
									<form method="POST" id="existing-position-form">
										{% csrf_token %}
										{{ full_application_form|crispy }}
										<div class="row mb-3">
											<div class="col">
												<input class="btn btn-outline-primary mt-3" type="submit" id="submit-new-app">
											</div>
									    </div>
									</form>
								</div>
							</div>
						</div>
						<div class="tab-pane fade" id="new-everything" role="tabpanel" aria-labelledby="list-messages-list">
							<form id="new-app-url" action="{% url 'parse-job-url' %}" >
								<label for="app-url">Enter the job posting URL below and JobTracker will attempt to autofill the form</label>
								<div class="input-group mb-3">
									<div class="input-group-prepend">
										<input type="submit" value="Fill" id="submit-new-app-url" class="btn btn-outline-primary">
									</div>
									<input type="url" id="app-url" name="app_url" placeholder="Enter the url of the job posting here" required class="form-control">
								</div>
							</form>
							<div class="row">
								<div class="col-sm-10 mb-3">
									<form method="POST" id="full-app-form">
										{% csrf_token %}
										{{ company_form|crispy }}
										{{ combined_position_form|crispy }}
										{{ combined_application_form|crispy }}
										<div class="row mb-3">
											<div class="col">
												<input class="btn btn-outline-primary mt-3" type="submit" id="submit-new-app">
											</div>
									    </div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row mt-5">
		<div class="col">
			<h3>Your current applications:</h3>
			<input class="form-control mb-2" id="listSearch" type="text" placeholder="Search Applications">
			<table class="table">
				<thead class="thead-dark">
					<tr>
						<th scope="col">Company</th>
						<th scope="col">Position</th>
						<th scope="col">Status</th>
						<th scope="col" class="text-center">Update/Delete</th>
					</tr>
				</thead>
				<tbody id="itemTable">
				{% for app in applications %}
					<tr>
						<th scope="row">{{ app.company }}</th>
						<td>{{ app.position }}</td>
						<td>{{ app.status }}</td>
						<td class="text-right">
							<a class="btn btn-primary delete-app" href="{% url 'jobs-detail-application' app.id %}" role="button">Details</a>
							<a class="btn btn-primary delete-app" href="{% url 'jobs-update-application' app.id %}" role="button">Update</a>
							<a class="btn btn-primary delete-app" href="{% url 'jobs-delete-application' app.id %}" role="button">Delete</a>
							<span class="dropdown ml-2">
								<button class="dropdown-toggle btn btn-primary" href="#" id="app-list-dropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"> + </button>
								<div class="dropdown-menu dropdown-menu-right" aria-labelledby="app-list-dropdown">
									<a class="dropdown-item" href="{% url 'jobs-new-communication' %}?application={{ app.id }}">Add Communication</a>
									<a class="dropdown-item" href="{% url 'jobs-new-interview' app.id %}">Add Interview</a>
									<a class="dropdown-item" href="#">Add Assessment</a>
								</div>
							</span>
						</td>
					</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</div>	

<div class="container">

    <div class="container-fluid">
		</br><h1>Reddit Feed</h1>

		<div class="form-check form-check-inline">
			Search:&nbsp 	
			<select class="custom-select mr-sm-2" id="input_query">
				{% for position in positions %}
					<option value="{{ position }}">{{ position }}</option>
				{% endfor %}
			</select>
		</div>

		<div class="form-check form-check-inline">
			Subreddit:&nbsp 	
			<input class="form-control" type="text" value="cscareerquestions" id=input_subreddit>
		</div>

		<div class="form-check form-check-inline">
			Sort:&nbsp 	
			<select class="custom-select mr-sm-2" id="select_sort">
				<option selected value="hot">Hot</option>
				<option value="top">Top</option>
				<option value="new">New</option>
			</select>
		</div>

		<div class="form-check form-check-inline">
			Result:&nbsp 			
			<select class="custom-select mr-sm-2" id="select_result">
				<option selected value="5">5</option>
				<option value="10">10</option>
				<option value="25">25</option>
				<option value="50">50</option>
			</select>
		</div>
		
		<div class="form-check form-check-inline">
			<input class="btn btn-primary" type="submit" value="Display" id="submit_search">
		</div>
	</div>
	
	</br>
	
	<div class="accordion" id="accordionReddit"></div>

</div>

{% endblock content %}
