{% extends "jobs/base.html" %}

{% block content %}
    <h1>Positions Page</h1>

    <button type="button" class="btn btn-primary btn-lg" onclick="location.href='/positions/new'">Add Position</button></br></br>

	{% for position in positions %}
		<h3>{{ position.position_title }}    
            <a class="btn btn-sm btn-info" href="{% url 'jobs-update-position' position.id %}"> Update</a>
            <a class="btn btn-sm btn-danger" href=""> Delete</a>
        </h3>
        <p>ID: {{ position.id }}</p>
        <p>URL: {{ position.position_url }}</p>
        <p>Date Opened: {{ position.date_opened }}</p>
        <p>Date Closed: {{ position.date_closed }}</p>
        <p>Skills: {{ position.skills }}</p>
        <p>Job Description: {{ position.job_description }}</p></br>
	{% endfor %}

{% endblock content %}
