{% extends "jobs/base.html" %}

{% block content %}

<div class="card mb-3">
    <div class="card-body">
        <div class="row">
            <div class="col-md-10">
                <h5 class="card-title mb-2">{{ position.position_title }}</h5>
                <p>{{ position.job_description }}</p>
                <ul>
                    {% for skill in position.skills.all %}
                        <li>{{ skill }}</li>
                    {% endfor %}
                </ul>
                <a href="{{ position.position_url }}" class="card-text ">Link to external job posting</a>
                <p class="card-text"><small class="text-muted">Opened - {{ position.date_opened }}</small></p>
                <p class="card-text"><small class="text-muted">Closed - {{ position.date_closed }}</small></p>
            </div>
            <div class="col-md-2 align-content-stretch">
                <div class="row mb-1">
                    <a class="btn btn-primary" href="{% url 'jobs-new-application' %}?position={{ position.id }}" role="button">Create Application</a>
                </div>
            </div>
        </div>
    </div>
</div>      

{% endblock content %}